ul {
    list-style-type: none;
    margin: 0;
    border: 15px #111;
    padding: 0;
}
li {
    float: left;
    background-color: rgb(119, 240, 119);
}
li a {
    display: block;
    color: white;
    background-color: darkgreen;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
/* change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
    
}
