/*Dit zegt dat alle ongeordende lijsten standaart dit volgen  */

.derdelevel-menu
{
    position: absolute;
    top: 0;
    right: -150px;
    width: 150px;
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
}


.derdelevel-menu > li
{
    height: 30px;
    color:#FFFFFF;
    background-color: #111
}
.derdelevel-menu > li:hover { background: #CCCCCC; }

.tweedelevel-menu
{
    position: absolute;
    top: 30px;
    left: 0;
    width: 150px;
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
}

.tweedelevel-menu > li
{
    position: relative;
    height: 30px;
    color:#FFFFFF;
    background-color: #111
}
.tweedelevel-menu > li:hover >ul { 
    display: inline;
    color:#FFFFFF;
    background-color: #111
}


.bovenstelevel-menu
{
    list-style: none;
    padding: 0;
    margin: 0;
}

.bovenstelevel-menu > li
{
    position: relative;
    float: left;
    height: 30px;
    width: 150px;
    color:#FFFFFF;
    background-color: #111
}
.bovenstelevel-menu > li:hover { 
    display: inline;
    color:#FFFFFF;
    background-color: #111
 }

.bovenstelevel-menu li:hover > ul
{
    /* On hover, display the next level's menu */
    display: inline;
    /*float: under;*/
}


/* Menu Link Styles */

.bovenstelevel-menu a /* Apply to all links inside the multi-level menu */
{

    list-style-type: none; /*Zegt dat er niets voor dit deel staat van de lijst. Dus geen bolletje of sterretje*/
    margin: 0; /*Hoe groot de ruimte is buiten de randen van dit element */
    border: 2; /*Hoe dik de rand is */
    padding: 0; /*Hoe groot de ruimte is tussen de inhoud en de rand */
    overflow: hidden; /*Als de tekst uit het blokje gaat doordat er te veel van is, zal het gewoon niet zichtbaar zijn. */
    background-color: rgb(58, 58, 58); /*Achtergrondkleur in het blokje */

    color: #FFFFFF;
    text-decoration: none;

    /* Make the link cover the entire list item-container */
    display: block;
    line-height: 30px;
    text-align: center;
}
.bovenstelevel-menu a:hover {

    color:#FFFFFF;
    background-color: #111
}

.bovenstelevel-menu li:hover > ul
{
    /* On hover, display the next level's menu */
    display: inline;
    background-color: #111;
    color: #FFFFFF;
}
li a.active { 
    background-image: linear-gradient(60deg, darkgreen, lightgreen); 
    /*Het actieve blokje heeft nu 2 kleuren die diagonaal vervagen. */
    color: white
  }


  body {
    background-color: #a6f0a6 ;
}
    .inleiding{
    text-align: center;
    color: #111;
    padding: 20px;
    font-size: 30px;
    }
    .column{
        float: left;  
        font-size: 18px; 
        /*lettergrootte */
        width: 45%; 
        /*Hoeveel procent van het beelscherm het del opneemt */
        padding: 15px;
    }
.card{
    background-color: white ;
    width: 100%;
    padding: 10px;
    margin-top: 10px; 
    /*Laat zien hoeveel pixels er tussen dit element en het element erboven zitten */
    border: #111;
    border-style: solid; 
    /*De omleining rond dit blokje is een solide lijn. */
    color: #111;
    font-size: 15px;
    float: left;
}
    iframe {
        align-content: right; 
        /*Het float aan de rechter kant. */
    } 
    video{ /*Dit gaat over de video*/
        float: right;
    
    }
    image{
        float:right;
    }







